<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faztrex.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
   <!-- <uses-permission android:name="android.permission.BIND_AUTOFILL_SERVICE"
        tools:ignore="ProtectedPermissions" />
-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FazTrexCustomer"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.activities.notifications.PushNotifications"
            android:exported="true" />
        <activity android:name=".ui.activities.hyperlocal.HyperLocalFormActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.hyperlocal.HyperLocalRequestListActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.docketbooking.DocketBookingListActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.pickuprequest.PickUpRequestFormActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.pickuprequest.PickUpRequestListActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.userauth.ChangePasswordActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.userauth.ResetPasswordActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.userauth.VerificationActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.activities.home.HomeActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.FazTrexCustomer.NoActionBar" />
        <activity android:name=".ui.activities.userauth.ForgotPasswordActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.userauth.LoginActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.activities.general.SplashActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.transaction.docket.DocketTrackingActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.activities.transaction.docket.DocketBookingActivity"
            android:screenOrientation="nosensor"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.MyFirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>